.pain_range {
  max-width: 500px;
  background: white;
  padding: 10px;
  &__values {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin: 0 -15px;

    span {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }

  &__names {
    margin: 0 -15px;
  }

  &__labels, &__numbers {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  &__labels {
    margin: 10px 0;

    > div {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 16px;

      &:last-child {
        margin-top: 0;
      }
    }

    span {
      font-size: 12px;
      line-height: 1.6;
    }

    img {
      width: 50px;
      height: 50px;
    }
  }

  &__numbers {
    span {
      text-align: center;
    }

    span:nth-child(3) {
      grid-column: 3/5;
      text-align: center;
    }
  }
}